<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-12 col-lg-6">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-9">
        <div class="text-center">
          <img class="logo-login" src="../../assets/img/visitme.png">
        </div>
          <h2 id="title-login" class="text-gray">Log in</h2>
          <p id="subtitle-login" class="text-light-gray">Ingresa tus datos</p>
          <form novalidate id="login-form" class="px-1 mt-4" action="#/login" method="POST">
            <input id="email" required class="form-control mb-2" type="text" name="email" placeholder="Correo electrónico">
            <input id="password" required class="form-control required" type="password" name="password" placeholder="Contraseña">
            <div class="row mt-3">
              <div class="col-6">
                <a class="" href="#/forgot-password">Olvidé mi contraseña</a>
              </div>
            </div>
            <div class="row justify-content-center mt-5">
              <div class="col-6">
                <button class="btn-primary btn white-text px-5">Iniciar sesión</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12 text-center align-self-start">
          <p class="text-light-gray">¿No tienes una cuenta?
            <a href="#/registration">Regístrate ahora</a>
          </p>
        </div>
      </div>
    </div>

    <div class="login-bg col-6 d-none d-lg-block"></div>
  </div>
</div>