<div class="community-choice">
  <button id="create-community" class="no-community btn btn-no-style btn-primary">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>Registrar comunidad
  </button>
  <button id="join-community" class="no-community btn btn-no-style btn-success">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>Unirme a comunidad
  </button>
</div>