<div id="community-modal-container"> 
  <div id="community-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered initial" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary">Selecciona tu comunidad</h5>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center">
            <div class="col-11">
              <h6 class="text-light-gray">Comunidades</h6>
                {{#each communities}}
                  <div class="col">
                    <img src="{{image}}">
                  </div>
                {{else}}
                  <p>
                    Actualmente, no te encuentras registrado a ninguna comunidad. Selecciona una opción para continuar:
                  </p>
                  <div class="community-choice">
                    <button id="create-community" class="no-community btn btn-no-style btn-primary">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>Registrar comunidad
                    </button>
                    <button id="join-community" class="no-community btn btn-no-style btn-success">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>Unirme a comunidad
                    </button>
                  </div>
                  <div id="create-community-div" style="display: none" class="mt-2">
                    <form novalidate id="add-community-form" class="px-1 mt-1" action="#/add-community" method="POST">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Nombre de la comunidad</label>
                        <input required class="form-control" type="text" name="name" placeholder="Urbanización Las Garzas.">
                      </div> 
                      <div class="form-group">
                        <label for="exampleInputEmail1">Logo de la comunidad</label>
                        <input class="form-control" type="text" name="email" placeholder="joan@visitme.com">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Ciudad</label>
                        <input required class="form-control" type="text" name="address[city]" placeholder="Puerto Ordaz">
                      </div> 

                    <div class="form-row">
                      <div class="form-group col-6">
                        <label for="exampleInputEmail1">Estado</label>
                        <select required class="form-control custom-select"  name="address[state]">
                          <option value="Bolívar">Bolívar</option>  
                        </select>
                      </div> 

                      <div class="form-group col-6">
                        <label for="exampleInputEmail1">Código Postal</label>
                        <input required class="form-control" type="text" name="address[zip]" placeholder="ZIP">
                      </div>

                      <input type="hidden" name="address[country]" value="Venezuela"/> 

                    </div>

                      <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Registrar comunidad</button>
                      </div>
                    </form> 
                  </div>

                {{/each}}
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
