<div class="container-fluid">
  <div class="row justify-content-center mb-4">
    <div class="col-md-5">
      <div class="card h-100">
        <div class="card-header ">
          <h4 class="card-title">Visitas por tipo</h4>
          <p class="card-category">Mostrando: este mes</p>
        </div>
        <div class="card-body ">
          <canvas id="visits-type"></canvas>
        </div>
        <div class="card-footer ">
          <div class="legend">
            <i class="fa fa-circle text-info"></i> Esperadas
            <i class="fa fa-circle text-danger"></i> Frecuente
            <i class="fa fa-circle text-warning"></i> Esporádicas
            <i class="fa fa-circle text-teal"></i> No Esperadas
          </div>
          <hr>
          <div class="stats">
            <i class="fa fa-clock-o"></i> Actualizado hace 6 minutos
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card h-100">
        <div class="card-header">
          <h4 class="card-title">Visitas recibidas</h4>
          <p class="card-category">Mostrando: este mes</p>
        </div>
        <div class="card-body">
          <canvas id="visits"> </canvas>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> Actualizado hace 3 minutes ago
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Horario de visitas</h4>
          <p class="card-category">Mostrando: este mes</p>
        </div>
        <div class="card-body ">
          <canvas id="visits-hour"> </canvas>
        </div>
        <div class="card-footer text-center">
          <div class="legend w-100">
            <i class="fa fa-circle text-info"></i> Mañana
            <i class="fa fa-circle text-danger"></i> Tarde
            <i class="fa fa-circle text-warning"></i> Noche
            <i class="fa fa-circle text-gray"></i> Todo el Dia
            <i class="fa fa-circle text-warning"></i> Sin Especificar
          </div>
          <hr>
          <div class="stats text-left">
            <i class="fa fa-check"></i> Data information certified
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h4 class="card-title">Actividad</h4>
          <p class="card-category">Actividades recientes</p>
        </div>
        <div class="card-body ">
          <div class="table-full-width">
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
          </div>
        </div>
      </div>
    </div>
  </div>
</div>