<div class="container-fluid">
    <div class="row justify-content-center list-visits">
        <div class="col-11">
            <h2 id="title-login" class="my-0 text-gray">Residentes Afiliados</h2>
        </div>
        <div class="col-12 container1"></div>
    </div>

    <div class="row justify-content-center list-visits">
        <div class="col-11">
            <h2 id="title-login" class="my-0 text-gray">Residentes por aprobar</h2>
        </div>
        <div class="col-12 container2"></div>
    </div>
</div>