{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "plugins": ["transform-regenerator", "transform-es2015-spread"]
      }
    ]
  ]
}
