<div id="addition-modal-container">
  <div id="addition-modal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered initial" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row w-100 justify-content-center">
            <div class="col-11">
              <h6 class="modal-title font-weight-bold text-uppercase text-primary">Añadir </h6>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center">
            <div class="col-11">
              <h6 class="text-light-gray">Ingresar datos</h6>
              <form id="addition-form">
                <div class="form-row">
                  <div class="form-group col">
                    <label for="exampleInputEmail1">Usuario</label>
                    <select class="w-100" id="user-select"></select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col">
                    <label for="exampleInputEmail1">Localidad</label>
                    <input required class="form-control" type="text" name="reference" placeholder="Nro. Casa / Apto / Ofic.">
                  </div>
                </div>
                <div class="row justify-content-end mt-2">
                  <div class="px-3">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button form="addition-form" type="button" class="btn btn-primary addition-cb">Registrar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>