<div class='select2-result-repository clearfix'>
  <div class="row mx-0 align-items-center">
    <div class="col-2">
   <img class="img-circle img-fluid" src='{{image}}' />
    </div>
    <div class="col-4">
      <h6>{{name}}</h6>
    </div>
    <div class="col">
      <h6>C.I: {{identification}}</h6>
    </div>
  </div>
</div>