<div class="greyed-out">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-sm-6 col-10 text-center">
      <i class="fa fa-2x fa-circle ld ld-bounce-ltr text-primary" aria-hidden="true"></i>
      <h1 class="main-title">Nos encontramos verificando tus datos</h1>
      <p class="description">Ve por unas galletas! Te enviaremos un email cuando tu administador haya activado tu cuenta.</p>
      <a href="#/login" class="btn-moregage-login btn-primary centered btn white-text">Volver al inicio</a>
    </div>
  </div>
</div>