<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-11">
      <h2 id="title-login" class="text-gray">Alertas</h2>
    </div>
    <div class="col-11 card">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info"
            aria-selected="true">Información</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-incident"  role="tab" aria-controls="nav-incident"
            aria-selected="false">Incidentes</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-other"  role="tab" aria-controls="nav-other"
            aria-selected="false">Otras</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-info" role="tabpanel" data-toggle="tab"  aria-labelledby="nav-info-tab">
          {{>alertsTable information}}
        </div>
        <div class="tab-pane fade" id="nav-incident" role="tabpanel" data-toggle="tab" aria-labelledby="nav-incidents-tab">
          {{>alertsTable incident}}
        </div>
        <div class="tab-pane fade" id="nav-other" role="tabpanel" data-toggle="tab" aria-labelledby="nav-others-tab">
          {{>alertsTable other}}
        </div>
      </div>


    </div>
  </div>
</div>