<table id="{{id}}" class="display" style="width:100%">
    <thead>
        <tr>
            {{tableColumns columns}}
        </tr>
    </thead>
    <tbody>
        {{tableRows rows}}
    </tbody>
</table>