<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-11 pl-0">
      <h2 id="title-login" class="text-gray">Acceso</h2>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-8 card">
      <form novalidate id="expected-form" class="px-1 mt-1" action="#/access" method="POST">
        <h4 id="title-login" class="text-gray px-2">Información del visistante</h4>
        <div class="form-row">
          <div class="form-group col-12">
            <label for="exampleInputEmail1">Buscar por cédula</label>
            <input required class="form-control" type="text" name="identification" placeholder="Cédula">
          </div>
        </div>
        <div class="form-row">
         <div class="form-group col-12">
            <label for="exampleInputEmail1">Buscar por nombre</label>
            <input required class="form-control" type="text" name="name" placeholder="Joan Gil">
          </div>
        </div>  
        <div class="d-flex justify-content-end mb-3">
          <div class="col-4">
            <button class="btn-primary btn white-text px-5">Confirmar datos</button>
          </div>
        </div>
      </form>
    </div>
    <div style="display: none" class="col-8 card">
      <form novalidate id="unexpected-form" class="px-1 mt-1" action="#/access" method="POST">
        <h4 id="title-login" class="text-gray px-2">Información del visistante</h4>
        <div class="form-row">
          <div class="form-group col-6">
            <label for="exampleInputEmail1">Cédula</label>
            <input required class="form-control" type="text" name="identification" placeholder="Cédula">
          </div>
          <div class="form-group col-6">
            <label for="exampleInputEmail1">Nombre Completo</label>
            <input required class="form-control" type="text" name="name" placeholder="Joan Gil">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <label for="exampleInputEmail1">Localidad</label>
            <input required class="form-control" type="text" name="locality" placeholder="Número de casa / Apto / Ofic">
          </div>
          <div id="dropzone" class="dropzone needsclick dz-clickable">
            <div class="dz-message needsclick">
              <p class="font-xsm">Drag and drop a file or <span class="text-primary">click here</span>  to upload a document.</p>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end mb-3">
          <div class="col-4">
            <button class="btn-primary btn white-text px-5">Confirmar datos</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-3">
      <div class="card card-user">
        <div class="card-image">
          <img src="../../assets/img/login-bg.jpg">
        </div>
        <div class="card-body">
          <div class="author">
            <p class="text-primary mt-5 pt-3"> Visitas confirmadas </p>
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <p class="mb-0 small">Joan Gil</p>
                  </td>
                  <td>
                    <p class="mb-0 small">Manzana 15 casa 10</p>
                  </td>
                  <td>
                    <p class="mb-0 small">
                      {{formatTimeAgo "2018-06-06"}}
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="mb-0 small">Joan Gil</p>
                  </td>
                  <td>
                    <p class="mb-0 small">Manzana 15 casa 10</p>
                  </td>
                  <td>
                    <p class="mb-0 small">
                      {{formatTimeAgo "2018-08-04"}}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
        
          </div>
        </div>
      </div>
    </div>
  </div>