<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-12 col-lg-6">
      <div class="forgot-content row h-100 align-items-center justify-content-center">
        <div class="col-9">
          <h2 id="title-login" class="text-gray">Olvidé mi contraseña</h2>
          <p id="subtitle-login" class="text-light-gray">Ingresa tu correo electrónico</p>
          <form novalidate id="forgot-password-form" class="px-1 mt-4" action="#/forgot-password" method="POST">
            <input id="email" required class="form-control mb-2" type="text" name="email" placeholder="Correo electrónico">
            <div class="row justify-content-center mt-5">
              <div class="col-6">
                <button type="submit" class="btn-primary btn white-text px-5">Continuar</button>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-6">
                <a href="#/login">Volver al login</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="login-bg col-6 d-none d-lg-block"></div>
  </div>
</div>