<div class="col-9">
  <h2 id="title-login" class="text-gray">Olvidé mi contraseña</h2>
  <p id="subtitle-login" class="text-light-gray">Hemos enviado un correo electrónico a <strong class="text-primary">{{email}} </strong>. Inserta el código para proceder a cambiar tu contraseña</p>
  <form novalidate id="forgot-password-form" class="px-1 mt-4" action="#/validate-code" method="POST">
    <input type="hidden" id="email" required class="form-control mb-2" type="text" name="email" value={{email}} placeholder="Correo electrónico">
    <input type="text" required class="form-control" name="code" placeholder="Código de validación">
    <div class="row justify-content-center mt-5">
      <div class="col-6">
        <button type="submit" class="btn-primary btn white-text px-5">Continuar</button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <a href="#/login">Volver al login</a>
      </div>
    </div>
  </form>
</div>