<div class="container-fluid">
  <div class="row justify-content-end">
    <div class="col-2">
      <button id="add-visit" class="no-community btn btn-no-style btn-primary">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>Registrar visita
      </button>
    </div>
  </div>
    <div class="row justify-content-center add-visit" style="display: none">
      <div class="col-11 pl-0">
      <div class="d-flex align-items-center">
        <div>
          <button class="pl-0 btn btn-no-style btn-info">
            <i class="fa fa-arrow-left fa-2x mr-2"></i> 
          </button>
        </div>
        <div class="col">
          <h2 id="title-login" class="my-0 text-gray">Registro de visita</h2>
        </div>
      </div>
      </div>
      {{>visit-type}}
  </form>
</div>


