<div class="wrapper">
  <div class="sidebar" data-color="primary" data-image="../assets/img/login-bg.jpg">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="#/" class="simple-text">
          <img class="img-fluid w-50" src="../assets/img/visitmetext.png">
        </a>
      </div>
      <ul class="nav">
        {{#ifCond session.userType "ADMINISTRATOR"}}
        <li class="nav-item dashboard active">
          <a class="nav-link" href="#/">
            <i class="fa fa-pie-chart" aria-hidden="true"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          {{/ifCond}} {{#ifCond session.userType "ADMINISTRATOR"}}
        <li class="nav-item integrations">
          <a class="nav-link" href="#/integrations">
            <i class="fa fa-microchip" aria-hidden="true"></i>
            <p>Integraciones</p>
          </a>
        </li>
        <li>
          {{/ifCond}}

        <li class="nav-item alerts">
          <a class="nav-link" href="#/alerts">
            <i class="fa fa-bell" aria-hidden="true"></i>
            <p>Alertas</p>
          </a>
        </li>


        {{#ifCond session.userType "ADMINISTRATOR"}}
        <li class="nav-item residents">
          <a class="nav-link" href="#/residents">
            <i class="fa fa-user" aria-hidden="true"></i>
            <p>Residentes</p>
          </a>
        </li>
        {{/ifCond}} {{#ifCond session.userType "ADMINISTRATOR"}}
        <li class="nav-item security">
          <a class="nav-link" href="#/security">
            <i class="fa fa-shield" aria-hidden="true"></i>
            <p>Seguridad</p>
          </a>
        </li>
        {{/ifCond}} {{#ifCond session.userType "ADMINISTRATOR"}}
        <li class="nav-item admins">
          <a class="nav-link" href="#/admins">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <p>Administradores</p>
          </a>
        </li>
        {{/ifCond}}


        <li class="nav-item visits">
          <a class="nav-link" href="#/visits">
            <i class="fa fa-address-card" aria-hidden="true"></i>
            <p>Mis Visitas</p>
          </a>
        </li>

        {{#ifCond session.userType "ADMINISTRATOR"}}
        <li class="nav-item adminVisits">
          <a class="nav-link" href="#/adminVisits">
            <i class="fa fa-address-book" aria-hidden="true"></i>
            <p>Historial de Visitas</p>
          </a>
        </li>
        <li>

          {{/ifCond}} {{#ifCondOr session.userType "ADMINISTRATOR" session.userType "SECURITY"}}
        <li class="nav-item access">
          <a class="nav-link" href="#/access">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <p>Acceso</p>
          </a>
        </li>
        {{/ifCondOr}}
        <li class="nav-item account">
          <a class="nav-link" href="#/account">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <p>Mi cuenta</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg " color-on-scroll="500">
      <div class=" container-fluid  ">
        <a class="navbar-brand" href="#pablo"> Dashboard </a>
        <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar burger-lines"></span>
          <span class="navbar-toggler-bar burger-lines"></span>
          <span class="navbar-toggler-bar burger-lines"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
              <a href="#" class="nav-link" data-toggle="dropdown">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <span class="d-lg-none">Dashboard</span>
              </a>
            </li>
            <li class="dropdown nav-item d-none">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <i class="fa fa-bell" aria-hidden="true"></i>
                <span class="notification">5</span>
                <span class="d-lg-none">Notification</span>
              </a>
              <ul class="dropdown-menu">
                <a class="dropdown-item" href="#">Notification 1</a>
                <a class="dropdown-item" href="#">Notification 2</a>
                <a class="dropdown-item" href="#">Notification 3</a>
                <a class="dropdown-item" href="#">Notification 4</a>
                <a class="dropdown-item" href="#">Another notification</a>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" clickable data-toggle="modal" data-target="#community-modal">
                <span id="community-name" class="pl-0 no-icon">{{community.name}}</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {{>community-selection communities=approvedCommunities allCommunities=session.allCommunities}}
    <!-- End Navbar -->
    <div class="content">

    </div>
    <footer class="footer">
      <div class="container">
        <nav>
          <ul class="footer-menu">
            <li>
              <a href="#/">
                Dashboard
              </a>
            </li>
            <li>
              <a href="#/residents">
                Residentes
              </a>
            </li>
            <li>
              <a href="#/admins">
                Administradores
              </a>
            </li>
            <li>
              <a href="#/visits">
                Visitas
              </a>
            </li>
          </ul>
          <p class="copyright text-center">
            ©
            <a href="#/">Visitme</a>, seguridad a tu alcance.
          </p>
        </nav>
      </div>
    </footer>
  </div>
</div>